/* FONTS */

@font-face {
    font-family: raleway-regular;
    src: url("../fonts/Raleway-Regular.ttf");
}


/* Tags */



body {
    font-family: raleway-regular, sans-serif;
    font-size: 24;
    color: black;
    background-color:rgb(240,240,240);
    width: 100%;
    overflow-x:hidden;
}

h1 {
    font-size: 2em;
    font-weight: 400;
    line-height: 150%;
    padding-top: 1em;
    font-family: raleway-regular, sans-serif;

}

/* CLASSES */
.dark-bg {
    background-color:rgb(240,240,240);
    width: 100%;
}

.nav-link {
    color:black;
    text-decoration:none;
    font-size:1em;
    margin-left:5%;
    margin-right:5%;
}

.nav-link-2 {
    color:black;
    text-decoration:none;
    font-size:1em;
}

.main-nav li {
    display:inline;
}

.navbar {
    overflow:hidden;
    border-bottom: 1px solid black;
    
}

/* IDs */

#rich-img {
    max-width: 400px;
    max-height:auto;
    margin-top:-6%;
    
}

#base-text{
    width: 50%;
    float: left;
    text-align:left;
    display:flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#text-form {
    width: 80%;
    margin-left: 10%;
}

#display-photo {
    width: 50%;
    float: right;
    display:block;
    text-align:right;
}
#base-container {
    display: inline;
    text-align: left;
    width: 100%;

}
#base-container:after{
    content:"";
    display: table;
    clear: both;
}

#hlight-text {
    color:purple;
    padding-bottom: .12em;
    border-bottom: 1px solid purple;
    cursor: pointer;
}

#column-shift {
    margin-right: 20%;
}

.container {
    margin-top:15%;
}

