/* FONTS */

@font-face {
    font-family: raleway-regular;
    src: url("../fonts/Raleway-Regular.ttf");
}


/* Tags */



body {
    font-family: raleway-regular, sans-serif;
    font-size: 24;
    color: black;
    background-color:rgb(245,245,245);
    width: 100%;

}

h1 {
    font-size: 2em;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 3em;
    padding-top: 1em;
    font-family: raleway-regular, sans-serif;

}

/* CLASSES */
.dark-bg {
    background-color:rgb(240,240,240);
    width: 100%;
}

.main-nav {
    list-style-type:none;
    margin-right:10%;
    margin-left:10%;
    margin-top:0;
    padding:0;
    overflow: hidden;
    display: 0;
    background-color:rgb(240,240,240);
    top: 0;
    width: inherit;
    max-width: inherit;
    
}

.navbar {
    z-index: 1;
    margin: inherit;
    width: inherit;
    margin-top: 2%;
    
}

.nav-link {
    display: inline;
    color: black;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none; 
    float: right;   
}

/* IDs */

#rich-img {
    max-width: 400px;
    max-height:auto;
    
}

#base-text{
width: 50%;
float: left;
}

#display-photo {
    width: 50%;
    float: right;
    text-align: right;
    

}
#base-container {
    display: inline;
    text-align: left;
    overflow:auto;
    float: left;
    padding: 10px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 5%;

}
#base-container:after{
    content:"";
    display: table;
    clear: both;
}

#hlight-text {
    color:purple;
    padding-bottom: .12em;
    border-bottom: 1px solid purple;
    cursor: pointer;
}
