/* FONTS */

@font-face {
    font-family: raleway-regular;
    src: url("../fonts/Raleway-Regular.ttf");
}


/* Tags */



body {
    font-family: raleway-regular, sans-serif;
    font-size: 24;
    color: #d6daeb;
    background-color:#000018;
    width: 100%;
    overflow-x:auto;
    margin:0;
}

h1 {
    font-size: 3em;
    font-weight: 400;
    line-height: 150%;
    padding-top: 1em;
    font-family: raleway-regular, sans-serif;

}



/* CLASSES */
.dark-bg {
    background-color:#000018;
    width: 100%;
}

.nav-link {
    color:#d6daeb;
    text-decoration:none;
    font-size:1em;
    margin-left:5%;
    margin-right:5%;
}

.nav-link-2 {
    color:#d6daeb;
    text-decoration:none;
    font-size:1em;
}

.main-nav li {
    display:inline;
}

.navbar {
    overflow:hidden;
    border-bottom: 1px solid rgb(113,71,128);
    
}

/* IDs */

#rich-img {
    width: auto;
    height: auto;
    max-width: 500px;
    max-height:auto;
    margin-top:-6%;
    
}

#base-text{
    width: 50%;
    float: left;
    text-align:left;
    display:flex;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#text-form {
    width: 80%;
    margin-left: 10%;
}

#display-photo {
    width: 50%;
    float: right;
    display:block;
    text-align:right;
}
#base-container {
    display: inline;
    text-align: left;
    width: 100%;

}
#base-container:after{
    content:"";
    display: table;
    clear: both;
}

#hlight-text {
    color:purple;
    padding-bottom: .12em;
    border-bottom: 1px solid purple;
    cursor: pointer;
}

#hlight-text-proj {
    color: purple;
    padding-bottom: .075em;
    border-bottom: 1px purple solid;
    cursor:pointer;
    
}

#column-shift {
    margin-right: 20%;
}

.container {
    margin-top:15%;
}

.project-container-1 {
    margin-top: 20%;
}
.project-container-1, .project-container-2, .project-container-3 {
    width:82.5%;
    border: #d6daeb 1px solid;
    margin-left:7.5%;
    margin-right:-5%;
    overflow:hidden;
    box-sizing:border-box;
    margin-bottom:5%;
    border-radius: 25px;

    
}

#smart-city-program, #space-evade, #tz-converter {
    float: right;
    padding: 10%;
    width: 30%;
}

#link-project_container {
    margin-top: 14%;
}

.project-text {
    padding-left: 0.5%;
}

#smart-city, #space-evade-img, #tz-converter-img {
    width:30%;
    float: left;
    height: auto;
    padding: 10%;
}



